[Unit]
Description=NodeJS Server For Rest API
After=network.target

[Service]
# Use User root or the user from which nvm installed nodejs
User=zeromev
WorkingDirectory=/opt/api-server
Environment=NODE_ENV=production
ExecStart=/opt/node-v21.7.2-linux-x64/bin/node server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-server

[Install]
WantedBy=multi-user.target
